body {
    font-family: 'Poppins', sans-serif;
    padding-left: 14%;
    padding-right: 14%;
    min-width: 1000px; 
}

.container {
    display: inline;
}

/* unvisited link */
a:link {
    text-decoration: none;
    color: blue;
  }
  
/* visited link */
a:visited {
    text-decoration: none;
    color: blue;
}
  
/* mouse over link */
a:hover {
    text-decoration: underline;
    color: blue;
}

/* selected link */
a:active {
    text-decoration: underline;
    color: slategray;
}

/* -------------------- Navigation Section --------------------*/

.navigation {
    float: left;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: slategray;
    color: white;
    width: 33%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
    padding-bottom: 5%;
    overflow: auto;
  }

.navigation h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.navigation p {
    margin-top: 0;
    text-align: center;
    font-size: 0.75rem;
}

.dp {
    margin-top: 10%;
    width: 300px;
    max-width: 90%;
    height: auto;
    object-fit: cover;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    }


.navbar {
    font-size: 1.25rem;
    margin-bottom: 5%;
    margin-top: 5%;
}

/* unvisited link */
.navigation a:link {
    text-decoration: none;
    color: white;
  }
  
/* visited link */
.navigation a:visited {
    text-decoration: none;
    color: white;
}
  
/* mouse over link */
.navigation a:hover {
    text-decoration: underline;
    color: white;
}

/* selected link */
.navigation a:active {
    text-decoration: underline;
    color: darkslategray;
}

.socials {
    display: flex;
    padding-bottom: 15%;
    justify-content: center;
}

.socialicon {
    display: inline-block;
    margin-right: 25px;
}

.socialicon:hover {
    filter: brightness(25%);
}

/* -------------------- About Section --------------------*/

.content {
    color: black;
    background-color: white;
    /* height: 80vh; */
    margin-left: 40%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: justify;
    font-size: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
}

.content h1 {
    font-size: 1.5rem;
    text-align: center;
}

/* -------------------- Projects Section --------------------*/

.projects {
    color: black;
    background-color: white;
    margin-left: 40%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50);
}

.projects h1 {
    font-size: 1.5rem;
    text-align: center;
}

.projectbox {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    align-items: center;
    margin-bottom: 2%;
    padding: 1%;
    border: 0.2em dashed slategray;
}

.projectcontent {
    font-size: 1rem;
    text-align: justify;
}

.projecttitle {
    text-align: center;
    font-weight: bold;
}

.projectbox p {
    margin: 0;
    font-size: 1rem;
}

.boldarrow {
    font-weight: bold;
  }

.projectimage {
    float: left;
    margin-right: 1%;
    width: 200px;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

/* footer {
    height: 500px;
    background-color: black;
} */